@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    background: #32325D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 15px 79px;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: -5px;
}
.logo h1{
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.title{
    margin: 125px;
    color: #3A4F9A;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3.6px;
}
.horizontal-line {
    border: none;
    height: 3px; 
    background-color: #3A4F9A; 
    width: 310px;
    margin: 26px 0px ;
    margin-top: 30px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 409px;
    margin-bottom: 58px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 273px;
    flex-shrink: 0;
}
.card h1{
    color: #3A4F9A;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2px;
    margin-left: 40px;
    margin-bottom: 10px;
}
.card p{
    font-family: 'Inter', sans-serif;
    display: flex;
    width: 359px;
    height: 109px;
    flex-direction: column;
    flex-shrink: 0;
    color: #575757;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
    margin-left: 40px;
}
.card a {
    text-decoration: none;
}
.expand{
    color: var(--title, #3A4F9A);
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.3px;
    background: none;
    border: none;
    margin-left: 330px;
}
::-webkit-scrollbar {
    border-radius: 4px;
    background: rgba(58, 79, 154, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 13px;
    height: 637px;
    flex-shrink: 0;
}
  
  /* Altera o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
  
  /* Altera a cor da alça (thumb) da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #3A4F9A4D;
}
  
  /* Altera a cor da alça (thumb) da barra de rolagem quando está em hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}