@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    background: #32325D;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 15px 79px;
    gap: 10px;
    position: fixed;
    width: 100%;
    top: -5px;
    z-index: 1;
}
.logo h1{
    color: #fff;
    font-family: 'Inter', sans-serif;
}
.title{
    margin: 125px;
    color: #3A4F9A;
    font-family: 'Inter', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 3.6px;
}
.horizontal-line{
    border: none;
    height: 3px; 
    background-color: #3A4F9A; 
    width: 310px;
    margin: 26px 0px ;
    margin-top: 30px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    box-sizing: border-box;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 409px;
    margin-bottom: 58px;
    overflow: hidden;
}
.card img{
    width: 100%;
    height: 273px;
    flex-shrink: 0;
}
.card h1{
    color: #3A4F9A;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    line-height: 22px;
    letter-spacing: 2px;
    margin-left: 35px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.card p{
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    color: #575757;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
    width: 359px;
    margin-left: 35px;
}
.card a{
    text-decoration: none;
}
.expand{
    color: var(--title, #3A4F9A);
    font-size: 13px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 1.3px;
    background: none;
    border: none;
    margin: 20px;
    margin-left: 330px;
}
::-webkit-scrollbar {
    border-radius: 4px;
    background: rgba(58, 79, 154, 0.30);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 13px;
    height: 637px;
    flex-shrink: 0;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #3A4F9A4D;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
.goBack{
    margin-top: 95px;
    margin-left: 25px;
    width: 75px;
    height: 75px;
    flex-shrink: 0; 
    border-radius: 75px;
    border: 0.3px solid rgba(255, 255, 255, 0.60);
    background: var(--primary, #32325D);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    position: absolute;
}
.post_info{
    display: flex;
}
.post_info div{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 105px;
    width: 762px;
    height: 519px;
    flex-shrink: 0;
    overflow: hidden;
}
.post_info img{
    width: 100%;
    height: 311.4px;
    object-fit: cover;
}
.post_info h1{
    color: #3A4F9A;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 2px;
    margin-left: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.post_info p{
    font-family: 'Inter', sans-serif;
    color: #575757;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1.3px;
    margin-left: 40px;
}
.comments{
    width: 762px;
    height: 321px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    margin-top: 63px;
    margin-bottom: 50px;
    border-radius: 8px;
}
.separatorLine{
    width: 652.007px;
    height: 0px;
    flex-shrink: 0;
    color: #575757;
    margin: auto;
    margin-top: 15px;
}
.userComment {
    color: #575757;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 20px;
    letter-spacing: 1.3px;
    display: flex;
    width: 652px;
    flex-direction: column;
    margin: auto;
}
.userComment span{
    color: #3A4F9A;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.6px;
    display: flex;
    width: 652px;
    flex-direction: column;
    margin: auto;
}
